body{
    font-family: 'Lato', sans-serif;
}

.section{
    text-align: center;
    padding: 2em;
}
.section--light{
    background-color: #e0b47b;
}

.section--rose{
    background-color: #c24b41;
    color: #fed7a5
}

.section--dark{
    background-color: black;
}

.jumbotron{
    background-image: url(../img/jumbotron.JPG);
    background-position: center center;
    background-size: cover;
    margin-top: 5vw;
    color: black;

}

.jumbotron h1 {
    margin: 8vw;
    color: black;
    text-shadow: 1px 1px 5px #4d341e;
    font-size: 3.5em;



}

.jumbotron p {
    font-size: 1.4em;
    margin: 8vw;
}

#text-field-jumbotron {
    width: 50%;
    line-height: 8vw;
    text-shadow: 1px 1px 5px rgba(224,180,123, .7);


}

#findme{
    color: #e0b47b;
    text-align: center;
    padding-top: 4vw;
    padding-bottom: 4vw;
    font-size: 3.5em;

    a {
        transition: .5s;
    }

    a:hover {
        font-size: 1.5em;
    }
}

.info {
    display: flex;
    justify-content: space-between;
    padding-left: 8em;
    padding-right: 8em;
}

div.col-3.mySkill,
div.myProgress.col-9.mySkill {
    margin: 0;
    padding: 0;
}

.myProgress {
    width: 100%;
    background-color:#e0b47b;
}

.bar {
    width: 0%;
    height: 1.5rem;
    background-color: #c24b41;
    margin-bottom: 15px;
}

.barContainer {
    width: 100%;
    height: 1.5em;
    background-color: #fed7a5;
    margin-bottom: 15px;
}

.progressLabel {
    background-color: black;
    margin-bottom: 15px;
    color: #e0b47b;
}

.card-body {
    background-color: #e0b47b;
    color: #4d341e;
}

article.card {
    background-color: #4d341e;
}

span.badge.badge-primary {
    color: #e0b47b;
}

.portrait {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: -4px -4px #c24b41;

}

.section--promo {
    
}


