body{
    font-family: 'Lato', sans-serif;
}

.section{
    text-align: center;
    padding: 4em;
}
.section--light{
    background-color: #e0b47b;
}

.section--rose{
    background-color: #c24b41;
    color: #fed7a5
}

.section--dark{
    background-color: black;
}

.jumbotron{
    background-image: url(../img/jumbotron.JPG);
    background-position: center center;
    background-size: cover;
    margin-top: 5vw;
    color: black;
}

.jumbotron h1,
.jumbotron p {
    margin: 8vw;
}

.jumbotron p {
    font-size: 1.5em;
}

#findme{
    color: #e0b47b;
    text-align: center;
    padding-top: 4vw;
    padding-bottom: 4vw;
    font-size: 4em;
}

.info {
    display: flex;
    justify-content: space-between;
    padding-left: 8em;
    padding-right: 8em;
}

.skill-label {
    color: #e0b47b;
}

.progress {
    margin: 1em 0;
}